<?xml version="1.0"?>
<!--
/**
 * @category    Trialfire
 * @package     Trialfire_Tracker
 * @author      Mark Lieberman <mark@trialfire.com>
 * @copyright   Copyright (c) Trialfire
 *
 * Register observers to record events in the tracker events list.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Add item to cart. -->
    <event name="sales_quote_product_add_after">
        <observer name="trialfire_tracker_add_to_cart" instance="Trialfire\Tracker\Observer\AddToCart"/>
    </event>
    <!-- Remove item from cart. -->
    <event name="sales_quote_remove_item">
        <observer name="trialfire_tracker_remove_from_cart" instance="Trialfire\Tracker\Observer\RemoveFromCart"/>
    </event>
    <!-- Add item to wishlist. -->
    <event name="wishlist_add_product">
        <observer name="trialfire_tracker_add_to_wishlist" instance="Trialfire\Tracker\Observer\AddToWishlist" />
    </event>
    <!-- Customer registration. -->
    <event name="customer_register_success">
        <observer name="trialfire_tracker_customer_register_success" instance="Trialfire\Tracker\Observer\Register" />
    </event>
    <!-- Customer login. -->
    <event name="customer_login">
        <observer name="trialfire_tracker_customer_login" instance="Trialfire\Tracker\Observer\Login" />
    </event>
    <!-- Save an address. -->
    <event name="customer_address_save_after">
        <observer name="trialfire_tracker_customer_address_save" instance="Trialfire\Tracker\Observer\Address" />
    </event>
    <!-- Started a checkout. -->
    <event name="controller_action_predispatch_multishipping_checkout_index">
        <observer name="trialfire_tracker_start_checkout_multi" instance="Trialfire\Tracker\Observer\StartCheckout" />
    </event>
    <event name="controller_action_predispatch_checkout_onepage_index">
        <observer name="trialfire_tracker_start_checkout_onepage" instance="Trialfire\Tracker\Observer\StartCheckout" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="trialfire_tracker_start_checkout_index_index" instance="Trialfire\Tracker\Observer\StartCheckout" />
    </event>
    <!-- Completed an order. -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="trialfire_tracker_onepage_order_place" instance="Trialfire\Tracker\Observer\PlaceOrder" />
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="trialfire_tracker_multishipping_order_place" instance="Trialfire\Tracker\Observer\PlaceOrder" />
    </event>
    <!-- Subscribe to newsletter. -->
    <event name="newsletter_subscriber_save_after">
        <observer name="trialfire_tracker_newsletter" instance="Trialfire\Tracker\Observer\Newsletter"/>
    </event>
</config>
